<ul class="collection with-header">
    <li class="collection-header"><h4>{{title}}</h4></li>
    <li class="collection-item avatar" *ngFor="let endpoint of filteredEndpoints()">
        <i class="material-icons circle z-depth-2" [ngClass]="{'red': endpoint.status == false, 'green': endpoint.status == true, 'blue lighten-3': endpoint.status == null}">{{ (endpoint.status) ? 'check': (endpoint.status == null) ? 'query_builder' : 'close' }}</i>
        <span class="title">{{ endpoint.name }}</span>
        <p>Status: {{ (endpoint.status) ? 'Online': (endpoint.status == false) ? 'Offline' : 'Aguardando' }}</p>
        <p>Tempo de resposta: {{endpoint.getInterval()}}s</p>
        <p>Resposta: {{endpoint.statusCode}} | {{endpoint.statusText}}</p>
        <a [attr.href]="endpoint.url" target="_blank" class="secondary-content" title="Ir para URL"><i class="material-icons">insert_link</i></a>
    </li>
</ul>