<div class="container">
  <div class="row">
    <div class="col m4 s12" *ngFor="let enviroment of enviroments">
      <panel-status [endpoints]="enviroment.websites" [title]="enviroment.name"></panel-status>
    </div>
  </div>
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" *ngFor="let enviroment of enviroments; let i=index"><a [ngClass]="{'active': i == 0}" [attr.href]="'#tab-' + i">{{enviroment.name}}</a></li>
        
      </ul>
    </div>
    <div *ngFor="let enviroment of enviroments; let i=index" [attr.id]="'tab-' + i" class="col s12">
      <list-status [endpoints]="enviroment.websites" [title]="enviroment.name"></list-status>
    </div>
    
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue pulse" (click)="reload($event)">
    <i class="large material-icons">loop</i>
  </a>
  
</div>



