<app-header class="my-2" [groups]="groups" (groupUpdated)="handleGroupUpdated($event)"></app-header>
<main role="main" class="container pt-5">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">{{ environmentTitle() }}</h6>
      <small>{{ myBusiness.totalApis(selectedGroup().apis) }} APIs</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <app-chart [apis]="selectedGroup().apis"></app-chart>
  </div>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">APIs</h6>
    <app-list [group]="selectedGroup()"></app-list>
  </div>

</main>