<div class="card">
    <div class="card-content" [ngClass]="warningClass()">
        <span class="card-title">{{ title }}</span>
        <p><strong>Total:</strong> {{ totalApis(endpoints) }}</p>
        <p><strong>Online:</strong> {{ liveApis(endpoints) }}</p>
        <p><strong>Offline:</strong> {{ deadApis(endpoints) }}</p>
        <p>
            <span *ngIf="waitingApis(endpoints) > 0"><strong>API's em espera:</strong> {{ waitingApis(endpoints) }}</span>
        </p>

        <div class="progress">
        <div class="determinate" [ngStyle]="{'width':  getHealth(endpoints)}"></div>
        </div>

        <p class="center">{{ getHealth(endpoints) }}</p>
    </div>
</div>